@keyframes fadeIn{
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}

html,body{
    background-color: rgb(28, 28, 28);
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'League Spartan';
    font-size: 40px;
    color: aliceblue;
}

b{
    padding-left: 2%;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_button{
    position: relative;
    float: right;
    height: 100%;
    width: 40%;
    animation: fadeIn 1s;
}

.course_desc{
    position: relative;
    float: left;
    height: 100%;
    width: 60%;
    animation: fadeIn 1s;
}

.Sem_3{
    background-color: gold;
    width:90%;
    height: 100%;
    background: url(../assets/sample.jfif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.ME219{
    width: 90%;
    height: 80%;
    background: url(../assets/me219_bg_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.ME201{
    background-color: blue;
    height: 80%;
    width:90%;
    background: url(../assets/sample.jfif);
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.ME209{
    background-color: yellow;
    height: 80%;
    width:90%;
    background: url(../assets/sample.jfif);
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.ME221{
    background-color: brown;
    height: 80%;
    width:90%;
    background: url(../assets/sample.jfif);
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.HS101{
    background-color: greenyellow;
    height: 80%;
    width: 90%;
    background: url(../assets/sample.jfif);
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.EE101{
    background-color: coral;
    height: 80%;
    width:90%;
    background: url(../assets/sample.jfif);
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.sem_3_img{
    width: 100%;
    height: 100%;
    position: relative;
}

footer{
    background-color: gold;
}

button.me219{
    height: 25%;
    width: 70%;
    border-radius: 30px;
    background: url(../assets/me219.00_00_00_00.Still001.bmp);
    background-size: cover;
    background-position: center;
    border-width: 7px;
    border-color: rgb(0, 145, 255);
}

button.me219:hover{
    background: url(../assets/me219.gif);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

img{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
}

img.sem_3_gif{
    position: relative;
    height: 100%;
    width: 80%;
}
img.me219_img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
}
h1{
    font-family: 'League Spartan';
    font-size: 100px;
    /* color: rgb(35, 35, 35); */
    color: aliceblue;
}

h3{
    font-family: 'League Spartan';
    font-size: 50px;
    /* color: darkblue; */
    color: aliceblue;
}